body {
  background-color: #222;
  color: white;
  font: 20px Arial;
  display: inline-flex;
}

.current-period {
  font-weight: bold;
}

.times-wrapper {
  display: grid;
  grid-template-columns: 200px 30px 200px;
  column-gap: 0px;
  position: relative;
}

.times-wrapper * {
  margin: 8px;
}

.selector {
  position: relative;
  display: inline-block;
  margin: 0;
}

.selector button {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border: none;
}

.selector-menu {
  display: block;
  position: absolute;
  width: 20px;
  z-index: 1;
  background-color: black;
  margin: 0;
}

.selector-menu > span {
  padding: 0;
  margin: 0;
  height: 20px;
  display: block;
}